.page-box {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
}

.line-2-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
